.section5
{
  position: relative;
  border: 2px solid red;
  width: 100%;
  height: auto;
}

.quote
{
  padding: 170px 0 74px 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: $orange;
  font-size: 48px;
  font-weight: 300;
}

.graduate-list {
  text-align: center;
  width: 100%;
  color: #AAAAAA;
  list-style-type: none;
}

.adamdelong {
  font-size: 22px;
  text-align: center;
}

.graduate {
  color: #AAAAAA;
  font-size: 22px;
  text-align: center;
}

.ruby {
  font-size: 16px;
  color: #AAAAAA;
  text-align: center;
}
